# Compiled files
*.o
*.out

# Build directories
build/
bin/

# Editor configuration files
*.swp
*.swo

# Temporary files
*.tmp
*.log

# Backup files
*~
*.bak

# ImGui directory if you don't want to track it
imgui/lib/backend/
imgui/lib/gl3w/

# Ignore imgui.ini
imgui.ini

# Other unwanted files
.DS_Store
Thumbs.db
